.multicam-screen {
    /* height: 100vh; */
    height: 100%;
    display: flex;
    flex-direction: column;
}

.multicam-screen .navbar {
    background: black;
}

.multicam-content {
    flex-grow: 1;
    display: flex;
    background: black;
}

.multicam-content .row {
    width: 100%;
}
