.video-js .red-marker {
  background-color: red;
  z-index: 1;
}
.video-js .blue-marker {
  background-color: blue;
  z-index: 2; /* draw blue on top of red markers as blue represents end of detection */
}

.camera-card img {
    width: 1em;
    height: 1em;
}

.cam-grid .card {
  height: 100%;
}

.cam-grid .card a {
  min-height: 100px;
  background: grey;
  flex-grow: 1;
  /* background-image: ; */
}

.cam-grid .card-svg-icon a {
  background: none;
}
